
html, body, main {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
body {
	/*background-image: url("img/retina_wood.png");*/
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	font-family: basic;
}

h1,h2,h3,h4 {
	margin:0px;
	font-family: title;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

canvas {
	width: 300px;
	height: 300px;
	position: relative;
}
:root {
	--text-color:hsla(320, 0%, 20%, 1);
	--contrast-text-color:hsla(320, 100%, 40%, 1);
	--actionbutton-color:hsla(320, 100%, 80%, 1);
	--actionbutton-color-dark:hsla(320, 100%, 40%, 1);

	--date-text-color:hsla(320, 100%, 30%, 1);
	--pop-text-color:#109c9c;
	--pop-text-color-dark:#08736d;
	--pop-text-color-light: #34ebd2;
	--bg-color:#fffbf0;
	--bg-color-selected:hsla(190, 90%, 60%, 1);
	--main-color:#06c;
	--header-color:hsla(159, 90%, 70%, 1);

}

.unit {
	border:2px solid black;
	display: inline-block;
	
	width: 30px;
	height: 60px;
	position: relative;
}
.unit-bg {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: hsl(150,100%,20%);
}
.unit-fill {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: hsl(150,100%,20%);
}

.unit-label {
	font-size: 70%;
	position: absolute;
	bottom: 0px;
	color: white;
}

.ui-error {
	
	padding: 1px 3px;
	display: inline-block;
	color: hsla(0, 100%, 20%, 1);
	border-radius: 10px;
	background-color: hsla(0, 100%, 70%, 1);
}

.ui-empty {
	padding: 2px 4px;
	font-size: 90%;
	font-style: italic;
	opacity: .3;
}

.ui-subtle {
	padding: 2px 4px;
	font-size: 90%;
	font-style: italic;
	opacity: .5;
}
.ui-bubblebutton {
	font-size: 90%;
	font-family:title;
	color:var(--contrast-text-color);
}
.ui-miniuid {
	font-size: 50%;
	font-style: italic;
	color:var(--contrast-text-color);
}
.ui-desc {
	background-color: hsla(0, 10%, 100%, .7);
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 10px;
	padding: 2px 4px;
	font-size: 80%;
	color: rgba(0, 0, 0, .7);
}
.ui-tiny {
	font-size: 70%;
}
.ui-label {
	font-size: 80%;
	color:var(--contrast-text-color);
}
.ui-controlbar {
	flex: 1;
	text-align: center;
	padding: 2px;
}

.ui-ultradetail-contrast {
	font-size: 50%;
	color:var(--contrast-text-color);
}

.ui-ultradetail {
	font-size: 50%;
	color:var(--op-text-color);
}

.ui-uid {
	margin: 2px;
	padding: 2px;
	font-size: 70%;
	font-family: code;
	color:var(--pop-text-color-light);
	background-color:var(--pop-text-color-dark);
}

.ui-value {
	font-size: 80%;
}

.ui-tile {
	display: inline-block;
	font-size: 80%;
	margin: 2px;
	padding: 2px 4px;
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	background-color:white;
}

.op {
	display: inline-block;
	font-weight: bold;
	width: .5em;
	height: 1em;
	text-align: center;
}

.testbotdata {
	height: 100px;
	overflow:scroll;
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-about {
	padding: 20px;
}

.content-preview {
	position: relative;
	overflow: hidden;

}

.content-preview>.section{
	position: relative;
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


.content-preview>.section>header{
	position: relative;
}

.content-about .action-buttons {
	text-align: center;
}

.content-about .action-buttons button {
	border-radius: 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	border:1px solid var(--actionbutton-color-dark);
	background-color:var(--actionbutton-color);
}



.bot-preview {
	overflow: hidden;
	
	border-radius: 5px;
	padding: 2px 4px;
	background-color:var(--bg-color);
	margin: 2px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);

}

.bot-preview .desc {
	min-height: 20px;
}

.bot-data {
	display: flex;
	flex-direction: column;
}

.bot-preview .tags {
	display: flex;
	flex-direction: column;
	min-height: 20px;
}


.bot-preview .tagholder {
	flex: 1;
}


.bot-preview .title,.content-preview .title {
	font-family: title;
}
.bot-preview .author {
	font-style: italic;
	color:var(--pop-text-color);
	font-size: 80%;
}

.bot-preview .language,.content-preview .language {
	font-style: italic;
	color:var(--contrast-text-color-text-color);
	font-size: 80%;
}

.bot-preview .date {
	font-style: italic;
	color:var(--date-text-color);
	font-size: 80%;
}
.bot-preview header {

	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.bot-preview .titledata {
	vertical-align: bottom;
}

.bot-preview.selected {
	background-color:var(--bg-color-selected);
}

.bot-preview .languagedata {
	text-align: center;
}


.scrollable {
	padding: 5px;
	border-radius: 10px;
	margin: 2px;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .7);
	flex:1;
	overflow-y: scroll;

}
.bot-preview header img {
	float: left;
	
	width: 24px;
}

a:link {
	color:var(--pop-text-color);
}

a:visited {
	color:var(--pop-text-color-dark);
}

@font-face {
	font-family: title;
	src: url(font/FredokaOne-Regular.ttf);
}
@font-face {
	font-family: code;
	src: url(font/CutiveMono-Regular.ttf);
}

@font-face {
	font-family: basic;
	src: url(font/Nunito-Regular.ttf);
}

@font-face {
	font-weight: normal;
  	font-style: italic;
	font-family: basic;
	src: url(font/Nunito-Italic.ttf);
}

@font-face {
	font-weight: bold;
  	font-style: normal;
	font-family: basic;
	src: url(font/Nunito-Bold.ttf);
}

@font-face {
	font-weight: bold;
  	font-style: italic;
	font-family: basic;
	src: url(font/Nunito-BoldItalic.ttf);
}
/* =================== UI WIDGETS =================== */
.menu-holder {
	position: relative;
	width: 150px;
	height: 20px;
}

.menu-top {
	position: absolute;
	top: 0px;

}

.selectorset {
	padding: 0px;
	margin: 2px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);

}

.selectorset button {
	border: none;
	padding: 2px 4px;
	margin: 0px;
	background-color:var(--bg-color);
	color: rgba(0, 0, 0, .5);	
	border: 1px solid rgba(0, 0, 0, .2);
}

.selectorset button.selected {
	background-color:var(--bg-color-selected);
	color: rgba(0, 0, 0, 1);	
}




.svg-button {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	border: none;
	position: relative;
	font-size: 1em;
	height: 1.5em;
	width: 1.5em;
	margin: 0px;
	padding: 0px;

	text-align:middle;
	vertical-align:middle;
	border-radius: 5px;
}


.svg-button:hover {
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .6);
}


.svg-button:active {
	background-color: 
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, .6);
}

.svg-button img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 3px;
	box-sizing: border-box;

}

.svg-button.active img {
	top: 6%;
}

.svg-button.inactive img {
	opacity: .5;
	background-color: hsla(0, 0%, 50%, 1);
}



.toggle-button {
	padding: 2px;
	margin: 2px;
	border: none;
	position: relative;
	background-color: var(--bg-color);
	border-radius: 5px;
}

.toggle-button.active {
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, .4);
	background-color: var(--bg-color-selected);
}

.toggle-button.disabled {
	opacity: .5;
}

/* =================== MAIN LAYOUT =================== */

.app-status {
	padding: 2px 4px;
	margin: 2px;
	border: 1px dashed rgba(0, 0,0, .4);
	width: 250px;
	height: 40px;
	overflow: hidden;
	font-size: 70%;
	font-style: italic;
	color:var(--contrast-text-color);
}

.app-status.app-status-error {
	color:red;
}
.app-nav {
	position: relative;
}


#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
#app-content {
	z-index: 50;
	flex: 1;
	
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#app-footer {
	z-index: 100;
	height: 0px;
	
}

#app-header {
	z-index: 100;
	
}

.chip {
	display: inline-block;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
	padding: 2px 4px;
	font-size: 80%;
	margin: 2px;
	border-radius: 15px;
}

.chip:focus {
	
}

/*======= */
.tracery-traces {
	position: relative;
	flex: 1;
	overflow: scroll;
}

.tracery-trace {
	border-radius: 5px;
	margin: 4px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	background-color: white;
	padding: 2px 4px;
}

.parseeditor {
	padding: 5px;
	flex: 1;
	overflow: scroll;
}

/*---------------------------------------------------------------------------------------*/
/* VALUE EDITOR */

.value-view {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	margin: 2px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}

.arrayholder>.value-view-item{
	display: inline-block;
}

.value-view-item {

	/*margin: 2px;*/
	/*border: 1px solid rgba(0, 0,0, .3);*/
	/*box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);*/
	
	display: flex;
	flex-direction: row;
}

.value-view.selected {
	border: 2px solid cyan;
	background-color: hsla(150, 40%, 90%, 1);
}

.value-view.active {
	border: 2px solid cyan;
	background-color: hsla(150, 70%, 80%, 1);
}
.value-view-array {

}

.value-view-object {
	margin: 2px;
	border: 2px solid magenta;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
	
}
.value-view-dict {
	margin: 2px;
	border: 2px solid blue;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}

.value-view-array {
	margin: 2px;
	border: 2px solid cyan;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
}
/*---------------------------------------------------------------------------------------*/

.blackboard {
	overflow: scroll;
}


.keybrowser {
	height:100px;
}



.stringeditor {
	min-width: 1em;
	min-height: 1em;
}

.stringeditor:focus, {
	/*box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, .4), 0px 1px 2px rgba(0, 0, 0, .8);*/
}
.stringeditor:focus {
	outline-radius: 10px;
  outline: 3px solid orange;
}

.stringeditor.edit:focus {
  outline: 3px dashed orange;
}

.value-header {
	background-color: hsla(220, 0%, 100%, .3);
	box-shadow: 0px 1px 2px rgba(0, 0, 0 ,.4);
}


.value-raw {
	text-align: left;
	font-family: code;
}

.value-string {
	text-align: center;
	background-color: hsla(220, 100%, 100%, 1);
	margin: 1px;
	padding: 1px 3px;
	display: inline-block;
	box-shadow: 0px 1px 2px rgba(0, 0, 0 ,.4);
}

.value-string.focus {
	border:; 1px solid magenta;
	background-color: hsla(220, 100%, 50%, 1);
}


.value-array {
	margin: 1px;
	padding: 1px 3px;
	display: inline-block;
	border: 1px solid hsla(290, 100%, 0%, .2);
}

.value-object {
	margin: 1px;
	padding: 1px 3px;
	display: inline-block;
	border: 1px solid hsla(200, 100%, 50%, 1);
}

.value-error {
	margin: 1px;
	padding: 1px 3px;
	display: inline-block;
	color: red;
	background-color: hsla(0, 100%, 20%, 1);
}


.hasNode {
	/*border: 2px solid purple;*/
}

.erycomponent {
	display: inline-block;
	
}


.erycomponent .header {
	font-size: 50%;
	color: rgba(0, 0, 0, .7);
	padding: 1px 2px;
	background-color: hsla(220, 0%, 100%, .3);
	box-shadow: 0px 1px 2px rgba(0, 0, 0 ,.4);
	display: flex;
	flex-direction: row;
}

.erycomponent .type {

	font-size: 60%;
	font-weight: bold;
}

.erycomponent .raw {
	padding: 1px 2px;
	font-size: 60%;
	font-family: code;
}

.erycomponent-error-data {
	font-size: 80%;
	font-family: code;
}
.erycomponent-error {
	border-radius: 5px;
	border: 2px solid hsla(0, 90%, 70%, 1);
}


.erycomponent-context-socketMod {
	border-radius: 10px;
	padding: 1px 2px;
	box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, .4);
	background-color: hsla(140, 100%, 70%, 1);
}

.erycomponent-context-socketMod>.erycomponent-text {
	font-family: basic;
	font-weight: bold;
}
.erycomponent-context-socketSource>.erycomponent-text {
	font-family: basic;
	font-weight: bold;
}

.erycomponent-text {
	font-size: 80%;
	font-family: code;
}

.erycomponent-expression {
	border-radius: 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	background-color: hsla(280, 100%, 70%, 1);
	color: hsla(280, 100%, 20%, 1);
}
.erycomponent-fxn {
	border-radius: 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	background-color: hsla(140, 100%, 70%, 1);
}
.erycomponent-socket {
	padding: 1px 3px;
	border-radius: 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	background-color: hsla(240, 100%, 90%, 1);
}
.erycomponent-rule {
	padding: 1px 2px;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .4);
	background-color: hsla(240, 100%, 90%, 1);
	
	background-color: hsla(0, 0%, 100%, .5);
}
.erycomponent>.content {
	display: inline-block;
	
}
.erycomponent .section {
	display: inline-block;
}

.erycomponent .section>.label {
	font-size: 60%;
	color:rgba(0, 0, 0, .5);
	font-style: italic;
}

.erycomponent-row {
	display: flex;
	flex-direction: row;
}

.erycomponent-source-missingKey {
	border: 1px dashed hsla(290, 0%, 30%, 1);
	background-color: hsla(140, 0%, 90%, 1);
	color: hsla(140, 0%, 20%, 1);
}

.erycomponent-source-dynamicKey {
	background-color: hsla(290, 0%, 70%, 1);
	color: hsla(290, 0%, 20%, 1);
}

.dynamickey-section {
	border-radius: 5px;
	border: 0px solid hsla(290, 100%, 30%, 1);
	background-color: hsla(298, 80%, 90%, 1);
	border-left-width: 3px; 
	border-right-width:3px;
}
 .erycomponent-key {
 	
 }

.erycomponent-key-grammar {
	margin: auto;
}

.erycomponent-key-custom {
	margin: auto;
	border: 1px dashed rgba(0, 0, 0, .5);
	background-color: hsla(240, 10%, 90%, 1);
	color: hsla(240, 90%, 20%, 1);
}

.erycomponent-key-fxn {
	margin: auto;
	color: hsla(140, 100%, 30%, 1);
}



/*==========================================================================*/
/*================ COLUMNS =================================================*/
.layout-main {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.column-content {
	position: relative; 
	
	flex: 1;
	display: flex;
	flex-direction: column;
	
}

.column {
	display: flex;
	flex-direction: column;
	position:relative;
	width: auto;
}


.column.column-center {
	flex: 1;

}

.column.column-right,.column.column-left {
	
	z-index: 20;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .8);
	/*background-color: hsla(40, 90%, 95%, 1);*/
}

#column-center {
	z-index: 10;
	flex: 1;
	
}
.column.column-right .column-header {
	text-align: right;
}

.column.column-left .column-header {
	text-align: left;
	flex-direction: row-reverse;
}

.column-header {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 2em;
	justify-content: space-between;
}


#left-handle.column-resizehandle {
	right: 0px;
}


#right-handle.column-resizehandle {
	left: 0px;
}

.column-resizehandle {
	
	position: absolute;
	
	top: 0px;
	height: 100%;
	width: 14px;
	/*background-color: hsla(170, 100%, 50%, .5);*/
	cursor:  ew-resize;
}



.panel {
	min-height: 0px;
	position: relative;
	display: flex;
	flex-direction: column;
	
	position: relative;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
	/*border: 1px solid magenta;*/
}


/* =================== HEADERS =================== */

#app-header {
	background-color: white;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
	justify-content: space-between;
	display: flex;
	align-items: flex-end;
}
.app-logo {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
}

.app-logo-hero {
	margin: 2px;
	display: inline-block;
	width: 50px;
}


.app-logo-text {
	display: inline-block;
	
}

.app-logo-text .title {
	font-family: title;
}


.app-logo-text .subtitle {
	font-style: italic;
}


/* =================== SECTIONS =================== */

.inlineblock {
	display: inline-block;
}
.row {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.container{
	min-height: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
}
/* =================== NAVTABS =================== */
.navbutton {
	margin: 3px;
	padding: 2px 4px;
	background-color:transparent;
	border: none;
	border-radius: 10px;

}
.navbutton.selected {
	background-color:var(--bg-color-selected);
}


.navtabs {
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	position: relative;
}

.navtabpanel {
	
	flex: 1;      
	margin: -1px 0px 0px 0px;
	z-index: 10;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, .4);
	border: 1px solid rgba(0, 0, 0, .4);
	border-width: 1px 0px 0px 0px;
	display: flex;
	flex-direction: column;
}


.navtab {
	position: relative;
	margin: 0px -3px 0px -2px;
	/*z-index: 60;*/
	font-size: 80%;
	font-style: italic;
	padding: 1px 5px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, .4), inset 0px -3px 2px rgba(0, 0, 0, .2);
	background-color: hsla(0, 0%, 90%,1);
	border: 1px solid rgba(0, 0, 0, .4);
	
}


.navtab.selected {
	z-index: 80;
	box-shadow: 0px -1px 3px rgba(0, 0, 0, .4);
	border-width: 1px 1px 0px 1px;
	background-color: white;
}

/* =================== POPUP =================== */

#popup {
	z-index: 1000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	text-align: center;
	justify-content: space-around;
	align-content: center;
	display: flex;
}

#popup-bg {
	z-index: 10;
	
	
 	background-color: rgba(0, 0, 0, .5);
	pointer-events: all;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}


#popup-panel {
	margin: auto;
	display: inline-flex;
	z-index: 20;
	position: relative;
	background-color: white;
}


/*========================*/
 /*https://www.w3schools.com/howto/howto_css_tooltip.asp*/
  /* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

